[submodule "GPNAE"]
	path = GPNAE
	url = git@github.com:SoHam-56/GPNAE.git
[submodule "SystolicArray"]
	path = SystolicArray
	url = git@github.com:SoHam-56/SystolicMesh.git
[submodule "SystolicMesh"]
	path = SystolicMesh
	url = git@github.com:SoHam-56/SystolicMesh.git
